body {
  font-family: "Poppins", sans-serif;
  margin: 0px;
}
h1 {
  font-size: 30px;
}
.orange-color {
  color: orange;
}
.flexible {
  display: flex;
}
.half-width {
  width: 50%;
  padding-left: 2%;
}
.half-width-2 {
  width: 50%;
  margin-left: 5%;
  margin-right: 5%;
  padding-left: 10px;
  box-shadow: 10px 10px 40px grey;
  border-left: 10px solid orange;
  border-image: linear-gradient(blue, cyan);
  border-image-slice: 1;
}
.half-width img {
  width: 300px;
  height: 300px;
}
.link-button {
  text-decoration: none;
  background-image: linear-gradient(orange, tomato);
  color: white;
  font-weight: 700;
  padding: 10px 40px;
  border-radius: 5px;
}
a:hover {
  background-image: linear-gradient(rgb(95, 95, 241), blue);
}
.top-banner {
  background-image: url(bc.png);
  background-repeat: no-repeat;
}
.padding {
  padding-top: 50px;
}
footer {
  text-align: center;
}
